*
{
    overflow: auto;
}


body
{
    background-color: #8ba1bb;
    font-family: Arial;
    margin: 0;
}

p.categories 
{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -250px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
}

div.categories
{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}

.center
{
    text-align: center;
    width: 100%;
}

div.contenu
{
    background-color: white;
    margin: 35px 10px 35px 10px;
    padding: 0px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

h1
{
    text-align: center;
    margin-bottom: 12px;
}

p.description
{
    text-align: center;
    max-width: 470px;
    display: inline-block;
    font-size: 14px;
}


div.separateur
{
    width: 100px;
    height: 1px ;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

div.info
{
    position: relative;
}

table.info
{
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    color: white; 
    background-color: #6c829dC0; 
    height: 50px;
    border-radius: 5px;
}

table.info td
{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

table.info th
{
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 7px;
}

img.info
{
    display: block;
    max-height: 550px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgrey;
    border-radius: 3px;
}

div.colonne1
{
    width: 100%;
    display: inline-block;
}

div.colonne2
{
    width: 100%;
}

div.colonne h2
{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 5px solid #6c829d;
    padding-bottom: 7px;
}

div.colonne
{
    margin-top: 30px;
}

div.ingredients
{
    text-align: center;
    font-size: 16px;
    
}

div.ingredients p
{
    border: 1px solid lightgrey;
    border-radius: 7px;
    padding: 9px 0;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.number
{
    font-size: 16px;
    font-weight: bold;
    background-color: #6c829d;
    color: white;
    width: 25px;
    text-align: center;
    height: 25px;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td
{
    vertical-align: top;
}

table.preparation td.preparation_etape
{
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr
{
    height: 50px;
}

/*style pour ordi*/
@media only screen and (min-width: 768px) {
    div.contenu
    {
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 350px;
    }
    
    table.info
    {
        height: 90px;
    }

    table.info td
    {
        font-size: 14px;
    }

    table.info th
    {
        font-size: 16px;
    }

    div.colonne1
    {
        width: 45%;
        display: inline-block;
        margin-right: 10%;
    }

    div.colonne2
    {
        float: right;
        width: 45%;
    }
}

@media only screen and (min-width: 900px) {
    div.contenu
    {
        margin-left: auto;
        margin-right: auto;
        width: 645px;
    }
}